.theme-toggle {
    background: var(--bottom-color);
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin: 10px;
    color: #000000;
    transition: color 0.3s;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}