.App {
    text-align: center;
    margin: 40px 5px;
}

.App-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App-title {
    margin: 15px 10px;
}

:root {
    --bg-color: #FFFFFF;
    --text-color: #000000;
    --card-bg: #F0F0F0;
    --card-border: #E2E2E2;
    --bottom-color: #F8F8F8
}

[data-theme='dark'] {
    --bg-color: #474747;
    --text-color: #FFFFFF;
    --card-bg: #000000;
    --card-border: #333333;
    --bottom-color: #B8B8B8
}

[data-theme='light'] {
    --bg-color: #FFFFFF;
    --text-color: #000000;
    --card-bg: #F0F0F0;
    --card-border: #E2E2E2;
    --bottom-color: #F8F8F8
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}
